<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>agregar</title>
</head>
<body> 
    <div>
        <form action="/Agregar" method="POST">

          <input type="text" name="run" placeholder="run">
          <input type="text" name="descripcion" placeholder="descripcion">
          <input type="number" name="valor" placeholder="Valor">
          <input type="date" name="fecha" placeholder="Fecha">
          <input type="time" name="hora" placeholder="hora">
          <button type="submit"> Agregar Visita </button>
        </form>
    </div>
    
</body>
</html>